@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #ccc;
	display: block;
	padding: 2em;
}

.blurb {
	max-width: 40em;
	margin: 2em auto;
}
.main {
	background-color: #ddd;
	width: 90%;
	max-width: 50em;
	margin: 0 auto;
	padding: 0.75em;em;
	overflow: hidden;
	height: 16em;
}

.left, .right {
	overflow: visible;
	position: relative;
}

@-webkit-keyframes up {
	0% {
		top: -15em;
	}
	5% {
		top: -30em;
	}
	25% {
		top: -30em;
	}
	30% {
		top: -45em;
	}
	50% {
		top: -45em;
	}
	55% {
		top: -60em;
	}
	75% {
		top: -60em;
	}
	80% {
		top: -75em;
	}
	100% {
		top: -75em;
	}
}

@-webkit-keyframes down {
	0% {
		top: -60em;
	}
	5% {
		top: -45em;
	}
	25% {
		top: -45em;
	}
	30% {
		top: -30em;
	}
	50% {
		top: -30em;
	}
	55% {
		top: -15em;
	}
	75% {
		top: -15em;
	}
	80% {
		top: 0;
	}
	100% {
		top: 0;
	}
}

@keyframes down {
	0% {
		top: -60em;
	}
	5% {
		top: -45em;
	}
	25% {
		top: -45em;
	}
	30% {
		top: -30em;
	}
	50% {
		top: -30em;
	}
	55% {
		top: -15em;
	}
	75% {
		top: -15em;
	}
	80% {
		top: 0em;
	}
	100% {
		top: 0em;
	}
}

.left {
	opacity: 0.25;
	color: #fff;
	top: -75em;
	-webkit-animation: down 5s cubic-bezier(0.475, -0.185, 0.475, 1.185) infinite;
	        animation: down 5s cubic-bezier(0.475, -0.185, 0.475, 1.185) infinite;
}

.right {
	top: -15em;
	-webkit-animation: up 5s cubic-bezier(0.475, -0.185, 0.475, 1.185) infinite;
	        animation: up 5s cubic-bezier(0.475, -0.185, 0.475, 1.185) infinite;
}

.list-up, .list-down {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	height: 15rem;}

.list-up li,
.list-down li {
	height: 15rem;
}

.list-down i {
	font-size: 12em;
}

.list-up {
	font-size: 2em;
}

.list-up li {
	position: relative;
	top: calc(50% - 3rem);
}

@media only screen and (min-width: 38em) {
.right {
	margin-top: 15em;
}
